.locationList{
    margin-top: 2rem;
    max-height: calc(100vh - 7rem - 4rem);
    overflow: auto;
    margin-top: 2rem;
}

@media (max-width: 37.5em) {
    .locationList{
        max-height: 30vh;
        overflow: auto;
        margin-bottom: .8rem;
    }
}